<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Events</title>
</head>
<body>
    <h1>All Events</h1>

    <!-- ${events} => if there is something called events (i.e. a non-null variable called 'events') -->
    <!-- ${events.size()} => if the events list has at least one event -->
    <p th:unless="${events} and ${events.size()}">No events!</p>

    <ul>
        <th:block th:each="event : ${events}">
            <li th:text="${event}"></li>
        </th:block>
    </ul>

</body>
</html>